<h1>Travel Diary</h1>
<ul>
  <li>@Model.CityName</li>
</ul>

<a href="/diary/new">Add a new entry</a>

<form action="/diary/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>